<ion-content class="ion-padding" fullscreen>
  <app-header></app-header>
  <div class="container">
    <div id="form">
      <form>
        <br>

        <!-- Logo centrado (ajusta la ruta de la imagen si es necesario) -->
        <div class="logo-container">
          <img src="assets/img/logo.png" class="logo">
        </div>
        <br>

        <!-- Campo de Usuario -->
        <p style="color: rgb(240, 200, 21);">Email</p>
        <ion-item lines="none" class="input-wrapper">
          <ion-input type="text" placeholder="Ingrese su email" name="email" required></ion-input>
        </ion-item>
        <br>

        <!-- Botón de Iniciar Sesión -->
        <ion-button expand="block" class="btn-info" [routerLink]="['/login']">Enviar Solicitud</ion-button>

        <br>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>