/* Fondo azul */
ion-content {
<<<<<<< HEAD
  --background: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #042d54;
  border-radius: 10px;
}

#form {
  background-color: #042d54c9;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  
}

p {
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding-left: 8px;
}

/* Inputs personalizados */
.input-wrapper {
  margin-bottom: 16px;
}

ion-item {
  --inner-padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --highlight-color-focused: transparent;
  --background: transparent;
}

ion-input {
  --padding-start: 15px;
  --background: white;
  --color: #042d54;
  --placeholder-color: #000000;
  --placeholder-font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
  font-weight:bold;
  font-size: 16px;
  --border-radius:5px;

}

/* Botón de iniciar sesión */
.btn-info {
  --background: rgb(240, 200, 21);
--color: #042d54c9;
--border-radius: 5px;
--padding-start: 15px;
--padding-end: 15px;
--border: 2px solid rgba(224, 186, 14, 0.877);
font-weight: bold;
font-size: 16px;
padding: 5px;
background-color: rgba(224, 186, 14, 0.877) ;
border-radius: 5px;
}
.button-container,
.button-container-2 {
  flex: 1;                       /* Permite que ambos botones ocupen el mismo espacio */
  margin: 5px;                  /* Espacio entre botones */
}

.forgot-password {
  text-align: right;
  margin-top: -10px;
}

/* Estilo del logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: auto;
  width: auto;
  margin-bottom: -100px;
  margin-top: -150px;
}
.buttons-row {
  display: flex;                  
  justify-content: space-between;
  align-items: center;          
  width: 100%;                   
  max-width: 350px;             
  margin: 0 auto;               
}
=======
    --background: #fffcd2;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  #form {
    background-color: #042d54c9;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }

  p {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-left: 8px;
  }

  /* Inputs personalizados */
  .input-wrapper {
    margin-bottom: 16px;
  }

  ion-item {
    --inner-padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --highlight-color-focused: transparent;
    --background: transparent;
  }

  ion-input {
    --padding-start: 15px;
    --background: #fffcd2;
    --color: #1606aa;
    --placeholder-color: #05035a;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
  }

  /* Botón de iniciar sesión */
  .btn-info {
    height: 30px;
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
    --color:rgb(240, 200, 21);
  }


  /* Estilo del logo */
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
>>>>>>> 97ec2fe628058363aab92a99f65762d4beaf4893
