/* Estilos generales */
ion-content {
<<<<<<< HEAD
  --background: white ;
}

/* Estilos para la informaci칩n del alumno */
.alumno-info {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(255 255 255);
  padding: 20px;
  border-radius: 5px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 12px rgb(255 255 255);
  border: 3px solid #042d54c9;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.alumno-info h2,
.alumno-info p {
  color: #042d54c9;
  margin: 5px 0;
}

/* Estilos para la lista de asignaturas */
ion-list {
  background-color: transparent;
  padding: 20px;
  max-width: 350px;
  margin: 20px auto;
}

ion-item {
  
  --background: #042d54c9 ;
  --color: #ffffff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #042d54;
  font-size: 25px;
  padding: 5px;
  background-color: #042d54 ;
  
}
.button-container {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */         /* Altura del contenedor al 100% de la vista */
}
/* Estilos para los botones */
ion-button {
  --background: rgb(240, 200, 21);
  --color: #042d54c9;
  --border-radius: 5px;
  --padding-start: 15px;
  --padding-end: 15px;
  --border: 2px solid rgba(224, 186, 14, 0.877);
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  background-color: rgba(224, 186, 14, 0.877) ;
  border-radius: 5px;
}

/* Estilos para el encabezado y pie de p치gina */
ion-toolbar {
  --background: #042d54c9;
  --color: #fffcd2;
}

ion-title {
  color: rgb(240, 200, 21);
}

/* Ajustes adicionales */
ion-footer ion-toolbar {
  --padding-top: 10px;
  --padding-bottom: 10px;
}
=======
    --background: #fffcd2;
  }
  
  /* Estilos para la informaci칩n del alumno */
  .alumno-info {
    text-align: center;
    margin-top: 20px;
    background-color: #042d54c9;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #fffcd2;
  }
  
  .alumno-info h2,
  .alumno-info p {
    color: #fffcd2;
    margin: 5px 0;
  }
  
  /* Estilos para la lista de asignaturas */
  ion-list {
    background-color: transparent;
    padding: 20px;
    max-width: 350px;
    margin: 20px auto;
  }
  
  ion-item {
    --background: #042d54c9;
    --color: #fffcd2;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Estilos para los botones */
  ion-button {
    --background: #042d54c9;
    --color: rgb(240, 200, 21);
    --border-radius: 5px;
    --padding-start: 15px;
    --padding-end: 15px;
  }
  
  /* Estilos para el encabezado y pie de p치gina */
  ion-toolbar {
    --background: #042d54c9;
    --color: #fffcd2;
  }
  
  ion-title {
    color: rgb(240, 200, 21);
  }
  
  /* Ajustes adicionales */
  ion-footer ion-toolbar {
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
>>>>>>> 97ec2fe628058363aab92a99f65762d4beaf4893
