.pie {
    display: flex;
    justify-content: space-between; 
    align-items: center;       
    padding: 30px;           
    background-color: #f8f8f8;
}

.pie h1 {
    margin: 0; 
    color: black;
}